# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Credentials / Secrets
credentials.json
token.json

# Tooling
.pytest_cache/
.coverage
htmlcov/
.mypy_cache/
.ruff_cache/

# Terraform
.terraform/
*.tfstate
*.tfstate.backup
.terraform.lock.hcl
